{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home-container">
    <h1>Acerca de mi</h1>
    <p>
        Mi nombre es Tobias Maurin y soy alumno del curso de python de coderhouse. Este es mi proyecto final,
        una pagina que permite a un local comercial que vende distintos tipos de anillos y anteojos (en este caso una joyeria), poder cargar los productos productos vendidos y los actuales clientes en una base de datos. Estos datos se podran ver, editar y borrar.
    </p>
    
</div>
{% endblock %}
